# <%= it.title %>

This usage report is for the __<%= it.enterprise %>__ GHEC account.

## AssetPacks

Total Purchased: <%= it.assetPacks %>

## Enterprise Organizations

Name | Login | Billing Email
---- | ---- | ----
<% it.organizations.forEach(org => {
  org.name | org.login | org.organizationBillingEmail
}) %>

## Bandwidth

Usage | Quota | Usage Percentage
---- | ----| ----
<%= it.bandwidth.usage %> | <%= it.bandwidth.quota %> | <%= it.bandwidth.usagePercentage %>

## Storage

Usage | Quota | Usage Percentage
---- | ----| ----
<%= it.storage.usage %> | <%= it.storage.quota %> | <%= it.storage.usagePercentage %>

## Licenses

Total Licenses | All Licensable Users Count | Total Available Licenses
---- | ---- | ----
<%= it.totalLicenses %> | <%= it.allLicensableUsersCount %> | <%= it.totalAvailableLicenses %>

## Actions Usage

Minutes Used | Paid Minutes Used | Included Minutes
---- | ---- | ----
<%= it.actionsUsage.minutesUsed %> | <%= it.actionsUsage.paidMinutesUsed %> | <%= it.actionsUsage.includedMinutes %>

## Packages Usage

Total GB Bandwidth Used | Total Paid GB Bandwidth Used | Included GB Bandwidth
---- | ---- | ----
<%= it.packageUsage.totalGigaBytesBandwidthUsed %> | <%= it.packageUsage.totalPaidGigabytesBandwidthUsed %> | <%= it.packageUsage.includedGigabytesBandwidth %>

## Shared Storage Usage

Days Left In Cycle | Estimated Paid Storage For Month | Estimated Storage For Month
---- | ---- | ----
<%= it.sharedStorageBilling.daysLeftInCycle %> | <%= it.sharedStorageBilling.estimatedPaidStorageForMonth %> | <%= it.sharedStorageBilling.estimatedStorageForMonth %>
